[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
codegen = "==1.0"
Cycler = "==0.10.0"
Django = "==1.11.4"
decorator = "==4.0.10"
django-filter = "==1.0.4"
django-material = "==1.2.5"
django-viewflow = "==1.0.2"
djangorestframework = "==3.7.1"
django-cors-headers = "==2.4.0"
gunicorn = "*"
joblib = "==0.11"
matplotlib = "==2.0.0"
numpy = "==1.12.0"
pandas= "==0.21.1"
patterns = "==0.3"
pyparsing = "==2.1.10"
python-dateutil = "==2.6.0"
pytz = "==2018.4"
requests = "==2.13.0"
scikit-surprise = "==1.0.6"
scikit-learn= "==0.19.1"
whitenoise = "==3.3.1"
pillow = "==5.2.0"

[dev-packages]

[requires]
python_version = "2.7"
