backports.functools-lru-cache
cachetools
click
cycler
django-cors-headers
Flask
itsdangerous
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
nltk
pillow
pyparsing
python-dateutil
pytz
redis
scikit-learn
numpy
scikit-surprise
scipy
six
Unidecode
Werkzeug
django-filter
django-material
django-viewflow
whitenoise
gunicorn
pandas
numpy